body{
  overflow-x: hidden;
}
.nav-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: -130px;
}
#logo {
  height: 100px;
  width: 170;
  background-color: rgb(150, 14, 14);
max-width: 120px;
padding-top: 100px;
margin-left: 100px;
}
.nav-list a:hover {
 background-color: orange;
 color: black;
padding: 10px;
border-radius: 18%;
}
.nav-list a{
color: orange;
text-decoration: none;
}
.banner-navbar {
background-image: url(https://images.pexels.com/photos/1556688/pexels-photo-1556688.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
height: 700px;
/* background-color: rgb(27, 24, 24); */
background-repeat: no-repeat;
background-size: contain;
}
.banner {
  background-color: maroon;
  width: 30%;
  padding: 80px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
  padding-top: 70px;
  text-align: center;
  border-radius: 50%;
  float: right;
  /* transform: scale(2.5); */
  transform: rotate(-30deg);
  font-size: 30px;
  color: orange;
  line-height: 90px;
 }
.banner h1 {
  color: #303C3D;
  background-image: linear-gradient(to left,#394b4e, #202e30,#202e30, rgb(236, 139, 48), orange);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bodypart {
  display: grid;
  grid-template-columns: 200px 700px 400px;
}
.classic, .nyamchom, .vegeterian, .sides, .drinks{
  display: flex;
}
#burger  {
  width: 40%;
  height: 280px;
  border: 1px solid;
  margin-left: 20px;

}
#burger1 {
  width: 40%;
  height: 280px;
  border: 1px solid;
  margin-left: 20px;

}
#burger2  {
  width: 40%;
  height: 280px;
  border: 1px solid;
  margin-left: 20px;

}
#sides {
  width: 40%;
  height: 280px;
  border: 1px solid;
  margin-left: 20px;

}
#drinks {
  width: 40%;
  height: 280px;
  border: 1px solid;
  margin-left: 20px;

}
.menu h1 {
text-align: center;
color: orange;
}
.menu a {
 color: orange;
 text-decoration: none;
}
.menu a:hover {
  color: white;
 font-size: 25px;
}
.menu ul {
  padding-left: 0px;
  line-height: 1.8;
  text-align: center;
  margin-top: 50px;
  transition: font-size 2s;
}
.menu{
  border: 1px solid maroon;
  border-bottom: none;
  /* margin-right: 0px; */
  margin-top: 80px;
  height: 20%;
  background-color: maroon;
}
.menu hr {
  height: 3px;
  background-color: orange;
  border: none;
}
