body{
  overflow-x: hidden;
}
.nav-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: -130px;
}
#logo {
  height: 100px;
  width: 170;
  background-color: rgb(150, 14, 14);
max-width: 120px;
padding-top: 100px;
margin-left: 100px;
}
.nav-list a:hover {
 background-color: orange;
 color: black;
padding: 10px;
border-radius: 18%;
}
.nav-list a{
color: orange;
text-decoration: none;
}
.banner-navbar {
background-image: url(https://images.pexels.com/photos/1556688/pexels-photo-1556688.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
height: 700px;
/* background-color: rgb(27, 24, 24); */
background-repeat: no-repeat;
background-size: contain;
}
.banner {
  background-color: maroon;
  width: 30%;
  padding: 80px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
  padding-top: 70px;
  text-align: center;
  border-radius: 50%;
  float: right;
  /* transform: scale(2.5); */
  transform: rotate(-30deg);
  font-size: 30px;
  color: orange;
  line-height: 90px;
 }
.banner h1 {
  color: #303C3D;
  background-image: linear-gradient(to left,#394b4e, #202e30,#202e30, rgb(236, 139, 48), orange);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bodypart {
  display: grid;
  grid-template-columns: 200px 700px 300px;
  margin-top: 80px;
}
.classic, .nyamchom, .vegeterian, .sides, .drinks{
  display: flex;
  margin-bottom: 80px;
  margin-left: 40px;
}
#burger  {
  width: 90%;
  height: 280px;
margin-top: -80px;
margin-bottom: -30px;
}
#burger1 {
  width: 100%;
  height: 200px;
}
#burger2  {
  width: 90%;
  height: 280px;
margin-top: -80px;
}
#sides {
  width: 90%;
  height: 250px;
  margin-left: 20px;

}
#drinks {
  width: 110%;
  height: 250px;
}
.menu h1 {
text-align: center;
color: orange;
}
.menu a {
 color: orange;
 text-decoration: none;
}
.menu a:hover {
  color: white;
 font-size: 25px;
}
.menu ul {
  padding-left: 0px;
  line-height: 1.8;
  text-align: center;
  margin-top: 50px;
  transition: font-size 2s;
}
.menu{
  border: 1px solid maroon;
  border-bottom: none;
  /* margin-right: 0px; */
  /* margin-top: 80px; */
  height: 15%;
  background-color: maroon;
  position: sticky;
}
.menu hr {
  height: 3px;
  background-color: orange;
  border: none;
}
.mainbody h1 {
  text-align: center;
  color: orange;
}
.offers img{
 height: 280px;
 margin-left: 150px;
 border-radius: 100px;
}
.mainbody hr{
  width: 10%;
  height: 7px;
  background-color: maroon;
  border: none;
  margin-top: -5px;
  margin-bottom: 50px;
}
.mainbody h3 {
  margin-left: 50px;
  color: orange;
}
#classic_details{
  text-align: center;
}
.burger0, .burger0-1, .burger0-2, .burger1, .burger1_1, .burger1_2, .burger2, .fries, .coleslaw, .water, .juice, .soda {
  /* border-style: solid; */
  box-shadow: 2px 2px 2px 2px orange;
  margin-left: 20px;
  border-radius: 20%;
}
.mainbody button{
  border: none;
  background-color: maroon;
  color: orange;
  text-align: center;
  padding: 10px;
  margin-left: 45px;
  border-radius: 25px;
  margin-bottom: 8px;
}
.mainbody h4 {
  text-align: center;
}
.sides button {
  margin-left: 110px;
}
.water img {
  margin-left: -30px;
  margin-right: -40px;
}
.soda img{
margin-right: 80px;
}
.cart{
  margin-left: 70px;
  border: 3px solid orange;
  padding-left: 20px;
  height: fit-content;
}
.cart button{
  border: none;
  background-color: maroon;
  color: orange;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  font-size: large;
  margin-bottom: 20px;
}
 .cart1 {
  position: fixed;
  right: 100px;
  bottom: 270px;
  padding-left: 20px;
  margin-left: 70px;
  border: 3px solid orange;
  height: fit-content;
}